.itemContainer{
  width: 600px;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
}
.menuNameLabel{
  font-size: 50px;
}
.menuContainer{
  width: 550px;
  height: 300px;
  border: 1px solid red;
}
.specyficItemContainer{
  width: 550px;
  height: 60px;
  display: flex;
  align-items: center;

  border: 1px solid red;
}
.firstHalfOfContainer{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.itemCount{
  padding-left: 30px;
}
.itemName{
  padding-left: 45px;
}
.secondHalfOfContainer{
  width: 50%;
  height: 100;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.itemPrice{
  padding-right: 45px;
}
.countButtons{
  padding-right: 30px;
}
