<div class="orderContainer">
  <div class="itemContainer">
    <div class="menuNameLabel">
      Pizza menu
    </div>
    <div class="menuContainer">
      <div *ngFor="let item of menuList; let i = index">
        <div *ngIf="item.category === 'Pizza'">
          <div class="specyficItemContainer">
            <div class="firstHalfOfContainer">
              <div class="itemCount">
                {{item.count}}
              </div>
              <div class="itemName">
                {{item.name}}
              </div>
            </div>
            <div class="secondHalfOfContainer">
              <div class="itemPrice">
                {{item.price}}{{item.currency}}
              </div>
              <div class="countButtons">
                <button [disabled]="item.count>=maxCount" (click)="incrementCount(i)">+</button>
                <button [disabled]="item.count<=minCount" (click)="decrementCount(i)">-</button>
              </div>
            </div>
          </div>
      </div>

    </div>
    </div>
  </div>
  <div class="itemContainer">
    <div class="menuNameLabel">
      Beverage menu
    </div>
    <div class="menuContainer">
      <div *ngFor="let item of menuList; let i = index">
        <div *ngIf="item.category === 'Beverage'">
          <div class="specyficItemContainer">
            <div class="firstHalfOfContainer">
              <div class="itemCount">
                {{item.count}}
              </div>
              <div class="itemName">
                {{item.name}}
              </div>
            </div>
            <div class="secondHalfOfContainer">
              <div class="itemPrice">
                {{item.price}}{{item.currency}}
              </div>
              <div class="countButtons">
                <button [disabled]="item.count>=maxCount" (click)="incrementCount(i)">+</button>
                <button [disabled]="item.count<=minCount" (click)="decrementCount(i)">-</button>
              </div>
            </div>
          </div>
      </div>

    </div>
    </div>
  </div>
  <div class="orderCart">
    <div *ngFor="let order of menuList">
      <div *ngIf="order.count>0">
        <div class="orderItem">
          <div class="orderCount">
            {{order.count}}
          </div>
          <div class="orderName">
            {{order.name}}
          </div>
        </div>
      </div>
    </div>
    <div class="orderInfo">
      <div class="orderSum">
        {{orderValue}}{{orderCurrency}}
      </div>
      <div class="orderButton">
        <button>Order</button>
      </div>
    </div>
  </div>
</div>
