<div class="itemContainer">
  <div class="menuNameLabel">
    Pizza menu
  </div>
  <div class="menuContainer">
    <div *ngFor="let item of menuList">
      <div *ngIf="item.category === 'Pizza'">
        <div class="specyficItemContainer">
          <div class="firstHalfOfContainer">
            <div class="itemCount">
              {{item.count}}
            </div>
            <div class="itemName">
              {{item.name}}
            </div>
          </div>
          <div class="secondHalfOfContainer">
            <div class="itemPrice">
              {{item.price}}{{item.currency}}
            </div>
            <div class="countButtons">
              <button>+</button>
              <button>-</button>
            </div>
          </div>
        </div>
    </div>

  </div>
  </div>
</div>
