<div class="loginContainer">
  <form #userLogin="ngForm" (ngSubmit)="submitPressed(userLogin.value)">
  <div class="formContainer">
      <div class="loginLabel">
        <h1>Login</h1>
      </div>

      <div class="username">
        <h2>Username:</h2>
        <input type="text" name="username" ngModel>
      </div>
      <div class="password">
        <h2>Password:</h2>
        <input type="text"  name="password" ngModel>
      </div>
  </div>
  <div class="buttonContainer">
    <button class="button" type="submit">Login</button>
    <button routerLink="/register">Register</button>
  </div>
</form>
</div>
