.navBar{
  width: 100%;
  height: 64px;
  border: 1px solid red;
  display: flex;
}
.routingContainer{
  margin-top: 20px;
  width: 100%;
  height: 700px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 64px;
  height: 64px;
  border: 1px solid red;
}
.buttonsOfChoice{
  width: 700px;
  height: 64px;
  border: 1px solid red;
  margin-left: 400px;
}
