<div class="loginContainer">
  <div class="formContainer">
    <div class="loginLabel">
      <h1>Register new account</h1>
    </div>
    <div class="username">
      <h2>Username:</h2>
      <input type="text" id="username" #usernameInput (keyup)="inputUsername(usernameInput.value)">
    </div>
    <div class="password">
      <h2>Password:</h2>
      <input type="text"  id="password" #passwordInput (keyup)="inputPassword(passwordInput.value)">
    </div>
  </div>
  <div class="buttonContainer">
    <button routerLink="/login">Login</button>
    <button (click)="registerPressed()">Register</button>
  </div>
</div>
