<div class="registerContainer">
  <form #userLogin="ngForm" (ngSubmit)="submitPressed(userLogin.value)">
  <div class="formContainer">
      <div class="registerLabel">
        <h1>Register new account</h1>
      </div>
      <div class="username">
        <h2>Username:</h2>
        <input type="text" name="username" ngModel>
      </div>
      <div class="password">
        <h2>Password:</h2>
        <input type="text"  name="password" ngModel>
      </div>
  </div>
  <div class="buttonContainer">
    <button routerLink="/login">Login</button>
    <button type="submit">Register</button>
  </div>
</form>
</div>
